<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>课件资源</title>
	<link rel="stylesheet" type="text/css" th:href="@{/css/base.css}" />
	<link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}" />
	<link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap-theme.min.css}" />
	<link rel="stylesheet" type="text/css" th:href="@{/css/box.css}" />
	<style>
		.file-btn {
			position: relative;
			background-color: rgba(61, 160, 100, .7);
			display: inline-block;
			overflow: hidden;
			padding: 5;
		}

		a.file-btn {
			text-decoration: none;
		}
	</style>
</head>



<body>
<div th:replace="common :: function1"></div>

	<div class="clearfix"></div>

	<!--主体内容开始-->
	<div class="body center-block">
		<div class="body-left">
			<ul>
				<li ><a th:href="@{/teacherNotice}"><span class="glyphicon  glyphicon-user"></span>教师通知</a></li>
				<li ><a th:href="@{/course}"><span class="glyphicon  glyphicon-duplicate"></span>课程安排</a></li>
				<li class="li-active"><a th:href="@{/documentResources}"><span
						class="glyphicon glyphicon-folder-open"></span>课件资源</a></li>
				<li><a th:href="@{/learningCommunity}"><span class="glyphicon  glyphicon-home"></span>学习社区</a>
				</li>
				<li><a th:href="@{/grade}"><span class="glyphicon  glyphicon-list-alt"></span>成绩统计</a></li>
				<li><a th:href="@{/userManage}"><span class="glyphicon  glyphicon-cog"></span>用户管理</a></li>
			</ul>
		</div>
		<div class="body-right">
			<div class="body-r-box">
				<div class="body-r-nav">
					<ul>
						<li class="body-r-nav-active"><a>所有课件</a></li>
						<li><a>我的课件</a></li>
						<li></li>
						<li></li>
						<a th:href="@{/documentResources}"> <button type="button" class="btn btn-info">刷新</button></a>
					</ul>
					<div class="body-r-nav-r">
						<div class="search">
							<div class="input-group">
								<form th:action="@{/documentResources}" method="post">
								<input type="text" class="form-control" placeholder="搜索相关资源"
									aria-describedby="basic-addon2" name="searchWhat">
								<!--<span class="input-group-addon glyphicon glyphicon-search" id="basic-addon2"></span>-->
								<button type="submit" class="btn btn-default" aria-label="Left Align">
									<span class="glyphicon glyphicon-search"></span>
								</button>
								</form>
								<!--<span class="glyphicon glyphicon-search"></span>-->
							</div>
						</div>
					</div>
				</div>
				<div class="body-r-body">
					<!--<div class="page">-->
					<nav aria-label="Page navigation" class="page">
						<ul class="pagination" >
							<li>
								<a th:href="@{/documentResources(pn=${page.current-1})}" aria-label="Previous">
									<span>&laquo;</span>
								</a>
							</li>
							<li th:class="${num==page.current?'active':''}" th:each="num:${#numbers.sequence(1,page.pages)}">
								<a th:href="@{/documentResources(pn=${num})}">[[${num}]]</a></li>
							<li>
								<a th:href="@{/documentResources(pn=${page.current+1})}" aria-label="Next">
									<span>&raquo;</span>
								</a>
							</li>
						</ul>
					</nav>
					<!--</div>-->
					<div class="video-box" id="video-box-one" style="display: block;">
						<table class="table table-hover">
							<tr>
								<th>文件名</th>
								<th>上传教师</th>
								<th>上传时间</th>
								<th>下载</th>
							</tr>
							<tr th:each="resources,stat:${page.records}">
								<td th:text="${resources.resourcesName}"><span class="glyphicon glyphicon-folder-open"></span></td>
								<td th:text="${resources.teacherName}">2017-10-02</td>
								<td th:text="${resources.time}">2017-10-02</td>
								<td><a th:href="@{'/downResources/'+${resources.id}}">下载</a></td>
							</tr>
						</table>
					</div>
					<div class="video-box" id="video-box-two">
						<div class="upload">
							<button type="button" class="btn btn-success" id="upload-btn">上传</button>
							<!--刷新-->
						</div>
						<table class="table table-hover">
							<tr>
								<th>文件名</th>
								<th>上传时间</th>
								<!-- <th>下载</th> -->
								<th>删除</th>
							</tr>
							<tr th:each="resource,stat:${myResources}">
								<td th:text="${resource.resourcesName}"><span class="glyphicon glyphicon-folder-open"></span></td>
								<td th:text="${resource.time}"></td>
								<td><a th:href="@{'/deleteMyResources/'+${resource.id}}" onclick="javascript:return del();">删除</a></td>
							</tr>

						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!--主体内容结束-->

	<!--底部页脚开始-->
	<div class="footer"></div>
	<!--底部页脚结束-->

	<!--用户信息开始-->

	<div class="mask-box" id="mask-box">
		<div class="content">
			<form action="" method="post">
				<p><span>帐号类型：</span><span> 学生帐号</span></p>
				<p><span>用户名： </span><span> 123</span></p>
				<p><span>修改密码</span></p>
				<p><input type="text" class="form-control" id="exampleInputEmail1" placeholder="设置新密码"></p>
				<p><input type="text" class="form-control" id="exampleInputEmail1" placeholder="确认新密码"></p>
				<p><button type="submit" class="btn btn-info">确认提交</button><button type="button" id="exit"
						class="btn btn-danger">退出</button></p>

			</form>

		</div>
	</div>


	<div class="mask" id="mask"></div>
	<!--用户信息结束-->

	<!--上传资源开始-->
	<div class="upload-box" id="upload-box">
		<div class="upload-content">
			<p class="upload-title"><span class="label label-success">上传新资源</span></p>
			<form th:action="@{/uploadResources}" method="post" enctype="multipart/form-data">
				<!--<p><input type="text" class="form-control" placeholder="请输入资源名"></p>-->
				<p class="show"></p>
				<a href="jvascript:;" class=""><input type="file" name="resources" id="InputFile"></a>
				<p><button type="submit" class="btn btn-info">确认上传</button><button type="button" id="upload-exit"
						class="btn btn-danger">退出</button></p>
			</form>
		</div>
	</div>
	<!--上传资源结束-->

	<!--登录框开始-->
	<div class="login-box" id="login-box">
		<div class="login">
			<form action="" method="post">
				<p><span>用户登录</span></p>

				<p><input type="text" class="form-control" id="exampleInputEmail1" placeholder="请输入用户名"></p>
				<p><input type="text" class="form-control" id="exampleInputEmail1" placeholder="请输入密码"></p>
				<p><button type="submit" class="btn btn-info">确认提交</button><button type="button" id="login-exit"
						class="btn btn-danger">退出</button></p>
			</form>
		</div>
	</div>
	<!--登录框结束-->
</body>

<script src="js/jquery-3.0.0.min.js" type="text/javascript" charset="utf-8"></script>
<script src="js/bootstrap.min.js" type="text/javascript" charset="utf-8"></script>
<script src="js/base.js" type="text/javascript" charset="utf-8"></script>
<script src="js/upload.js" type="text/javascript" charset="utf-8"></script>

</html>

<script type="text/javascript">

	function del() {
		var msg = "删除不可恢复\n您确定要删除吗 ?";
		if (confirm(msg) == true) {
			return true;
		} else {
			return false;
		}
	}

</script>