<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>5成绩统计</title>
	<link rel="stylesheet" type="text/css" th:href="@{/css/base.css}" />
	<link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}" />
	<link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap-theme.min.css}" />
	<link rel="stylesheet" type="text/css" th:href="@{/css/box.css}" />
</head>



<body>

<div th:replace="common :: function1"></div>

	<div class="clearfix"></div>

	<!--主体内容开始-->
	<div class="body center-block">
		<div class="body-left">
			<div class="body-left">
				<ul>
					<li ><a th:href="@{/teacherNotice}"><span class="glyphicon  glyphicon-user"></span>教师通知</a></li>
					<li ><a th:href="@{/course}"><span class="glyphicon  glyphicon-duplicate"></span>课程安排</a></li>
					<li ><a th:href="@{/documentResources}"><span
							class="glyphicon glyphicon-folder-open"></span>课件资源</a></li>
					<li><a th:href="@{/learningCommunity}"><span class="glyphicon  glyphicon-home"></span>学习社区</a>
					</li>
					<li class="li-active"><a th:href="@{/grade}"><span class="glyphicon  glyphicon-list-alt"></span>成绩统计</a></li>
					<li><a th:href="@{/userManage}"><span class="glyphicon  glyphicon-cog"></span>用户管理</a></li>
				</ul>
			</div>
		</div>
		<div class="body-right">
			<div class="body-r-box">
				<div class="body-r-nav">
					<ul>
						<li class="body-r-nav-active"><a>成绩统计</a></li>
						<span th:text="${msg}" style="color: red"></span>
					</ul>
					<div class="body-r-nav-r">
						<div class="search">
						</div>
					</div>
				</div>
				<div class="body-r-body">
					<div class="video-box" id="video-box-one" style="display: block;">
						<table class="table table-hover">
							<tr>
								<th>姓名</th>
								<th>数据结构</th>
								<th>计算机组成原理</th>
								<th>数据库应用</th>
								<th>计算机网络技术</th>
								<th>操作系统</th>
								<th>总分</th>
								<th>其他</th>
							</tr>
							<tr th:each="grade,stat:${grades}" >
								<td><span th:text="${grade.name}" class="glyphicon  glyphicon-list-alt" ></span></td>
								<td th:text="${grade.dataStructure}"></td>
								<td th:text="${grade.compositionPrinciple}"></td>
								<td th:text="${grade.dataBase}"></td>
								<td th:text="${grade.networkTechnique}"></td>
								<td th:text="${grade.operatingSystem}"></td>
								<td th:text="${grade.countGrade}"></td>
								<td><a th:href="@{'/getGrade/'+${grade.id}}">修改</a></td>
							</tr>
						</table>
					</div>

				</div>
			</div>
		</div>
	</div>
	<!--主体内容结束-->

	<!--底部页脚开始-->
	<div class="footer"></div>
	<!--底部页脚结束-->



	<!--用户信息开始-->
	<div class="mask" id="mask">
		<div class="mask-box" id="mask-box">
			<div class="content">
				<form action="" method="post">
					<p><span>帐号类型：</span><span> 学生帐号</span></p>
					<p><span>用户名： </span><span> 123</span></p>
					<p><span>修改密码</span></p>
					<p><input type="text" class="form-control" id="exampleInputEmail1" placeholder="设置新密码"></p>
					<p><input type="text" class="form-control" id="exampleInputEmail1" placeholder="确认新密码"></p>
					<p><button type="submit" class="btn btn-info">确认提交</button><button type="button" id="exit"
							class="btn btn-danger">退出</button></p>

				</form>

			</div>
		</div>
	</div>
	<!--用户信息结束-->



	<!--登录框开始-->
	<div class="login-box" id="login-box">
		<div class="login">
			<form action="" method="post">
				<p><span>用户登录</span></p>

				<p><input type="text" class="form-control" id="exampleInputEmail1" placeholder="请输入用户名"></p>
				<p><input type="text" class="form-control" id="exampleInputEmail1" placeholder="请输入密码"></p>
				<p><button type="submit" class="btn btn-info">确认提交</button><button type="button" id="login-exit"
						class="btn btn-danger">退出</button></p>
			</form>
		</div>
	</div>
	<!--登录框结束-->
</body>

<script src="js/jquery-3.0.0.min.js" type="text/javascript" charset="utf-8"></script>
<script src="js/bootstrap.min.js" type="text/javascript" charset="utf-8"></script>
<script src="js/base.js" type="text/javascript" charset="utf-8"></script>
<script src="js/upload.js" type="text/javascript" charset="utf-8"></script>


</html>

<script th:src="@{/js/bootstrap.min.js}" type="text/javascript" charset="utf-8"></script>
<script th:src="@{/js/base.js}" type="text/javascript" charset="utf-8"></script>
<script th:src="@{/js/jquery-1.7.2.js}"></script>