.video-box {
    width: 90%;
    /*height: 590px;*/
    /*height: 670px;*/
    padding: 30px;
}

.video-box td span {
    top: 2px;
    margin: 0 10px 0 5px;
}

.video-box:last-child {
    display: none;
}

.video-box tr th, .video-box tr td {
    width: 50px;
    text-align: center;
}

.video-box tr td:nth-child(1) {
    text-align: left;
}

.video-box tr th:first-child {
    width: 50px;
    text-align: left;
}

.video-box a {
    cursor: pointer;
}

.upload button {
    margin: 0 30px 25px 0;
    width: 80px;
}

textarea {
    resize: none;
    margin-left: 33px;
    vertical-align: bottom;
}

button {
    margin: 0 30px 25px 0;
    width: 80px;
    vertical-align: bottom;
}